body {
    margin: 0 auto;
    font-family: Roboto, sans-serif;
}
/*тело сайта*/

.main-container {
    max-width: 1219px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 55px;
    padding-right: 55px;
}
/*bloks*/

.site-header {
    background-color: #007765;
    width: 100%;
    height: 84px;
    display: flex;
    position: fixed;
    align-items: center;
    top: 0;
}

/*header*/

.navigation-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head-logo {
    padding-left: 55px;
}

.head-link {
    padding-right: 55px;
}

.link {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    text-decoration: none;
}

nav {
    color: #fff;
}
/*navigation*/

.section-1 {
    background: url(sec-1.png) center no-repeat;
    background-size: cover;
    margin-top: 84px;
    padding-top: 160px;
    padding-bottom: 160px;
}

.main-title {
    color: #fff;
    text-align: center;
    font-size: 72px;
    font-weight: 500;
    font-style: normal;
}
/*section-1*/

h1, h2 {
    margin: 0;
}

.titles {
    text-align: center;
    font-size: 64px;
    font-weight: 500;
    font-style: normal;
    color: #007765;
    line-height: 75px;
    margin-top: 48px;
}
/*titles*/

.section-2 {
    background-color: #fff;
    padding-top: 55px;
    padding-bottom: 95px;
}

.text-section-2 {
    font-size: 32px;
    line-height: 37px;
    font-weight: 400;
    text-align: center;
}

.span {
    font-weight: 700;
}
/*section-2*/

.section-3 {
    background: url(sec-3.png);
    padding-top: 128px;
    padding-bottom: 128px;
    background-size: cover;
}

.massage {
    font-size: 48px;
    color: #fff;
    font-weight: 500;
    font-style: italic;
    text-align: center;
    width: 100%;
    line-height: 57px;
}
/*section-3*/

.section-4 {
    background-color: #fff;
    padding-top: 48px;
    padding-bottom: 92px;
}

.text-section-4 {
    font-size: 32px;
    line-height: 37px;
    font-weight: 400;
    font-style: normal;
}

.logo {
    float: left;
    padding-right: 48px;
}

.logo-img {
    width: 115px;
    height: 115px;
}
/*section-4*/

.section-5 {
    background-color: #EEEEEE;
    padding-top: 48px;
    padding-bottom: 94px;
}

.img {
    width: 350px;
    height: 283px;
    display: flex;
    text-align: center;
    flex-flow: column wrap;
    align-items: center;
    padding-bottom: 55px;
}

.figure {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.foto {
    width: 168px;
    height: 168px;
}

.team {
    padding-top: 48px;
}

.name {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: #007765;
}
/*section-5*/

.footer {
    background-color: #333333;
    padding-top: 48px;
    text-align: center;
    height: 176px;
}
.text-footer {
    width: 540px;
    height: 64px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin: 0 auto;
    line-height: 21px;
    font-style: normal;
}
/*footer*/